@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@layer base {
  html {
    font-family: "Poppins", "sans-serif"
  }

  body {
    background-color: #f5f5f5;
  }
}


.primary-btn {
  @apply h-10 cursor-pointer border border-gray-200  rounded-lg text-[13px] font-medium hover:bg-gray-100 duration-200
}

.secondary-btn {
  @apply cursor-pointer border h-10 border-gray-200 bg-[#212529]  text-[13px] font-medium rounded-lg hover:bg-[#6C757D] duration-200
}

.create-Btn {
  @apply cursor-pointer border border-gray-200 bg-[#212529] p-2 text-[12px] flex items-center justify-center rounded-md hover:bg-[#6C757D] duration-200 text-white gap-1  px-3
}

.cancel-btn {
  @apply cursor-pointer border border-gray-200 p-2 rounded-lg text-[12px] hover:bg-gray-100 duration-200 font-medium px-4
}

/* Hide scrollbars globally but allow scrolling */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* hide-scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}