@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@layer base {
  html {
    font-family: "Poppins", "sans-serif"
  }

  body {
    background-color: #f5f5f5;
  }
}


.primary-btn {
  @apply flex justify-center items-center gap-2 cursor-pointer border border-gray-200 w-full p-2 rounded-lg text-[14px] hover:bg-gray-100 duration-200
}

.secondary-btn {
  @apply cursor-pointer border border-gray-200 bg-[#212529] w-full h-11 text-[14px] flex items-center justify-center rounded-lg hover:bg-[#6C757D] duration-200
}

/* hide-scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}